/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, section, summary,
time, mark {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My Styles */

/* common variables */
:root {
    --section-bg-color: linear-gradient(to right, #f8ef98, #f3a3bf); /* all section background color */

    --font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /* font family for all */
    --font-size--large: 60px; /* font size for headings */
    --font-size--medium: 20px; /* font size for paragraphs */
    --font-size--small: 16px; /* font size for small text like buttons */
    --font-weight--large: 600; /* font weight for headings */
    --font-weight--normal: 100; /* font weight for normal text */
}

@media only screen and (max-width: 768px) {
    :root {
        --font-size--large: 40px;
        --font-size--medium: 16px;
        --font-size--small: 12px;
    }
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none;
}


.header {
    display: flex;
    position: sticky;
    top: 0;
    justify-content: center;
    background-color: rgb(255, 114, 113);
}

section {
    background: var(--section-bg-color);
}

.navbar {
    overflow-x: auto;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    gap: 7rem;
    align-items: center;
    padding: 10px 0;
}

.navbar ul img {
    width: 40px;
    cursor: pointer;
}

.navbar ul li a {
    text-decoration: none;
    color: #000000;
    font-family: var(--font-family);
    font-size: var(--font-size--medium);
    font-weight: 600;
}

.content_container__one {
    display: flex;
}

.content_container__one .content_text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-basis: 50%;
    padding: 5rem;
}

.content_container__one .image_container__full_screen {
    flex-basis: 50%;
}

.content_container__one .image_container__full_screen img {
    width: 100%;
    object-fit: contain;
}

.content_container__one .content_text .text__title {
    font-size: var(--font-size--large);
    font-weight: var(--font-weight--large);
    font-family: var(--font-family);
}

.content_container__one .content_text .text__para {
    font-size: var(--font-size--medium);
    font-weight: var(--font-weight--normal);
    font-family: var(--font-family);
    line-height: 1.4;
}

.content_container__one .content_text .text__button button {
    font-size: var(--font-size--small);
    font-weight: var(--font-weight--normal);
    font-family: var(--font-family);

    cursor: pointer;
    width: 200px;
    height: 50px;
    border: none;
    background-color: rgb(255, 114, 113);
    color: #FFFFFF;
    transition: all 0.3s ease;
}

.content_container__one .content_text .text__button button:hover {
    background-color: rgb(247, 94, 94);
    font-size: calc(var(--font-size--small) + 2px);
}

.content_container__two {
    display: flex;
    padding: 10rem;
    gap: 5rem;
    align-items: center;
}

.content_container__two .image_container__space_around {
    display: flex;
    gap: 20px;
    flex-basis: 50%;
    align-items: center;
}

.image_container__space_around img {
    object-fit: contain;
    width: 100%;
}

.content_container__two .content_container__text {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(247, 94, 94);
    padding: 2rem;
    row-gap: 1.5rem;
}

.content_container__two .image_container__space_around .image_container__two_images {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.content_container__two .content_container__text .content_upper_text {
    font-size: var(--font-size--medium);
    font-weight: var(--font-weight--normal);
    font-family: var(--font-family);
    line-height: 1.4;
}

.content_container__two .content_container__text .content_title {
    font-size: var(--font-size--large);
    font-weight: var(--font-weight--large);
    font-family: var(--font-family);
}

.content_container__two .content_container__text .content_button {
    display: flex;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: #000000;
    transition: all 0.3s ease;
    width: fit-content;
    align-items: center;
    gap: 10px;
}

.content_container__two .content_container__text .content_button span {
    font-size: var(--font-size--small);
    font-weight: var(--font-weight--normal);
    font-family: var(--font-family);
}


/* Smaller Desktop screens */
@media only screen and (max-width: 1199px) {
    .navbar ul {
        gap: 5rem;
    }
    .content_container__two {
        padding: 10rem 5rem;
    }
}


/* Tablet screens */
@media only screen and (max-width: 989px) {
    .navbar ul {
        gap: 3rem;
    }
}


/* Tablet screens */
@media only screen and (max-width: 768px) {
    .content_container__one {
        flex-direction: column-reverse;
    }
    .content_container__one .content_text {
        row-gap: 2rem;
        padding: 2rem;
    }
    .navbar ul {
        gap: 1rem;
    }
    .content_container__two {
        padding: 5rem 2rem;
    }
    .content_container__two {
        gap: 2rem;
    }
    .content_container__two {
        flex-direction: column;
    }
}


/* Mobile screens */
@media only screen and (max-width: 390px) {
    .navbar{
        width: 80%;
    }
    
}